@import "colors";

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Style the loader section

#loader {
    background: $MainBlue;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#loaderIcon {
    border: 20px solid $SpinnerYellow;
    border-top: 20px solid $MainBlue;
    border-bottom: 20px solid $MainBlue;
    border-radius: 50%;
    background-color: $SecondaryBlue;
    height: 110px;
    width: 110px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
}

//Main Content style
#mainContent {
    // background-color: $SecondaryBlue;
    display: none;
    min-width: 100%;
    animation: pageAnim 2s;
    position: relative;
}

@keyframes pageAnim {
    from {bottom: -50%; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

Body {
    background-color: $BodyBG;
    text-align: center;
    color: $fontColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 10px solid $MainBlue;

    header {
        padding-top: 10%;

        h1 {
            font-size: 2.5em;
        }

        #menu {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;

            ul {
                width: 100%;
                margin: 2%;
                li {
                    display: inline-block;
                    margin: 2%;
                    list-style: none;
                    a {
                        color: $MainBlue;
                        text-decoration: none;
                        font-size: 1.5em;
                    }
                    a:hover, a:active {
                        color: $AccentBlue;
                    }
                }
            }
        }
    }

    main {
        padding-bottom: 20%;
    }

    #mode {
        display: flex;
        justify-content: center;
        border-radius: 25px;
        width: 50%;
        margin: 10% auto;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(6,127,208,0.65);
        -moz-box-shadow: 0px 0px 8px 1px rgba(6,127,208,0.65);
        box-shadow: 0px 0px 8px 1px rgba(6,127,208,0.65);

        button {
            margin: 2% 8%;
            background: transparent;
            border: none;
            font-size: 1.2rem;
            color: $fontColor;
            font-weight: 400;
        }

        .active {
            color: $AccentBlue;
            font-weight: 500;
        }
    }

    .circle {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        margin: auto;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(6,127,208,0.65);
        -moz-box-shadow: 0px 0px 15px 2px rgba(6,127,208,0.65);
        box-shadow: 0px 0px 15px 2px rgba(6,127,208,0.65);
        display: flex;
        justify-content: center;
        align-items: center;

        .innercircle {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            margin: auto;
            background-color: $AccentBlue;
            display: flex;
            justify-content: center;
            align-items: center;

            .timer {
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
                margin: auto;
                background-color: $BodyBG;
                border: 1.5px solid $AccentPink;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                font-size: 3em;
            }
        }
    }

    .controls {
        margin-top: 15%;
        display: flex;
        justify-content: space-evenly;

        button {
            border: none;
            background-color: $BodyBG;
            color: $fontColor;
            font-size: 1.4em;
        }
    
        button:hover, button:active {
            color: $AccentPink;
        }

        button:disabled {
            color: #485661;
        }
    }


    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2%;
        background: $SecondaryBlue;
        width: 100%;
        text-align: center;

        a{
            text-decoration: none;
            color: $AccentPink;
        }
        a:hover{
            color: $AccentBlue;
        }
    }

    // Hidden sections, contact and info
    #Contact, #Info {
        display: none;
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    #Contact{
        font-size: 3em;
        background-color: $MainBlue;
        overflow: hidden;

        ul {
            padding-top:2% auto 15% auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                list-style: none;
                margin: 5% 0;

                a{
                    color: $SecondaryBlue;
                }

                a:hover {
                    color: $AccentBlue;
                }
            }
        }
    }

    #Info {
        font-size: 1em;
        background-color: $SecondaryBlue;
        color: aliceblue;
        overflow: auto; 
        padding: 2% 5% 20% 5%;

        h4 {
            font-size: 1.5em;
            margin: 2% 2%;
        }

        p {
            margin-top: 5%;

            em {
                color: $AccentPink;
            }
        }

        
    }

    .close {
        font-size: 1.5rem;
        color: $fontColor;
        display: flex;
        justify-content: flex-end;
        padding: 10%;

        a:hover, a:active {
            color: $SpinnerYellow;
        }
    }    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        header {
            padding-top: 5%;
        }

        main {
            padding-bottom: 15%;
        }

        #mode {
            margin: 5% auto 10% auto;

            .active {
                font-weight: 700;
            }
        }

        .controls {
            margin: 10% auto;
            width: 50%;
        }

        footer {
            position: static;
        }

        #Contact{    
            ul {
                padding: 2% auto 10% auto;

                li {
                    margin-top: 2%;
                }
            }
        }

        #Info {
            padding: 2% 10% 10% 10%;
        }
    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        main {
            padding-bottom: 10%;
        }

        #mode {
            width: 30%;
        }

        #Contact{    
            ul {
                padding-top: 5%;
                flex-direction: row; 
                justify-content: space-evenly;  
            }
        }

        .close {
            padding: 5%;
            padding-bottom: 10%;            
        }  
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        header {
            padding: 3% 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            #menu {
                justify-content: end;
                width: 30%;

                ul {
                    li {
                        margin-left: 15%;
                    }
                }
            }
        }
        main {
            padding-bottom: 10%;
        }

        #mode {
            margin: 5% auto;
        }

        .circle {
            width: 20rem;
            height: 20rem;
    
            .innercircle {
                width: 18rem;
                height: 18rem;

                .timer {
                    width: 17rem;
                    height: 17rem;
                    border: 1.8px solid $AccentPink;
                    font-size: 4em;
                }
            }
        }

        .controls {
            margin: 8% auto 10% auto;
            width: 40%;
        }

        #Info {
            padding-top: 0;
        }
    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    //Add code
}

