*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loader {
  background: #067FD0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#loaderIcon {
  border: 20px solid #e6e64e;
  border-top: 20px solid #067FD0;
  border-bottom: 20px solid #067FD0;
  border-radius: 50%;
  background-color: #151A7B;
  height: 110px;
  width: 110px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#mainContent {
  display: none;
  min-width: 100%;
  animation: pageAnim 2s;
  position: relative;
}

@keyframes pageAnim {
  from {
    bottom: -50%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
Body {
  background-color: #070928;
  text-align: center;
  color: #b8deff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 10px solid #067FD0;
}
Body header {
  padding-top: 10%;
}
Body header h1 {
  font-size: 2.5em;
}
Body header #menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
Body header #menu ul {
  width: 100%;
  margin: 2%;
}
Body header #menu ul li {
  display: inline-block;
  margin: 2%;
  list-style: none;
}
Body header #menu ul li a {
  color: #067FD0;
  text-decoration: none;
  font-size: 1.5em;
}
Body header #menu ul li a:hover, Body header #menu ul li a:active {
  color: #223BC9;
}
Body main {
  padding-bottom: 20%;
}
Body #mode {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 50%;
  margin: 10% auto;
  box-shadow: 0px 0px 8px 1px rgba(6, 127, 208, 0.65);
}
Body #mode button {
  margin: 2% 8%;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: #b8deff;
  font-weight: 400;
}
Body #mode .active {
  color: #223BC9;
  font-weight: 500;
}
Body .circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 0px 15px 2px rgba(6, 127, 208, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
Body .circle .innercircle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: auto;
  background-color: #223BC9;
  display: flex;
  justify-content: center;
  align-items: center;
}
Body .circle .innercircle .timer {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: auto;
  background-color: #070928;
  border: 1.5px solid #E63B60;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 3em;
}
Body .controls {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}
Body .controls button {
  border: none;
  background-color: #070928;
  color: #b8deff;
  font-size: 1.4em;
}
Body .controls button:hover, Body .controls button:active {
  color: #E63B60;
}
Body .controls button:disabled {
  color: #485661;
}
Body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2%;
  background: #151A7B;
  width: 100%;
  text-align: center;
}
Body footer a {
  text-decoration: none;
  color: #E63B60;
}
Body footer a:hover {
  color: #223BC9;
}
Body #Contact, Body #Info {
  display: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
Body #Contact {
  font-size: 3em;
  background-color: #067FD0;
  overflow: hidden;
}
Body #Contact ul {
  padding-top: 2% auto 15% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
Body #Contact ul li {
  list-style: none;
  margin: 5% 0;
}
Body #Contact ul li a {
  color: #151A7B;
}
Body #Contact ul li a:hover {
  color: #223BC9;
}
Body #Info {
  font-size: 1em;
  background-color: #151A7B;
  color: aliceblue;
  overflow: auto;
  padding: 2% 5% 20% 5%;
}
Body #Info h4 {
  font-size: 1.5em;
  margin: 2% 2%;
}
Body #Info p {
  margin-top: 5%;
}
Body #Info p em {
  color: #E63B60;
}
Body .close {
  font-size: 1.5rem;
  color: #b8deff;
  display: flex;
  justify-content: flex-end;
  padding: 10%;
}
Body .close a:hover, Body .close a:active {
  color: #e6e64e;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body header {
    padding-top: 5%;
  }
  body main {
    padding-bottom: 15%;
  }
  body #mode {
    margin: 5% auto 10% auto;
  }
  body #mode .active {
    font-weight: 700;
  }
  body .controls {
    margin: 10% auto;
    width: 50%;
  }
  body footer {
    position: static;
  }
  body #Contact ul {
    padding: 2% auto 10% auto;
  }
  body #Contact ul li {
    margin-top: 2%;
  }
  body #Info {
    padding: 2% 10% 10% 10%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body main {
    padding-bottom: 10%;
  }
  body #mode {
    width: 30%;
  }
  body #Contact ul {
    padding-top: 5%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  body .close {
    padding: 5%;
    padding-bottom: 10%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body header {
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  body header #menu {
    justify-content: end;
    width: 30%;
  }
  body header #menu ul li {
    margin-left: 15%;
  }
  body main {
    padding-bottom: 10%;
  }
  body #mode {
    margin: 5% auto;
  }
  body .circle {
    width: 20rem;
    height: 20rem;
  }
  body .circle .innercircle {
    width: 18rem;
    height: 18rem;
  }
  body .circle .innercircle .timer {
    width: 17rem;
    height: 17rem;
    border: 1.8px solid #E63B60;
    font-size: 4em;
  }
  body .controls {
    margin: 8% auto 10% auto;
    width: 40%;
  }
  body #Info {
    padding-top: 0;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=style.css.map */